@use "../util/functions" as util;

// Font family
$font-fam: 'Kumbh Sans', sans-serif;

// Font sizes
$mobile-s: util.rem(12);
$mobile-m: calc(util.rem(11.125) + 0.5vw);
$mobile-xl: calc(util.rem(30.125) + 0.5vw);

// Font weights
$regular: 400;
$bold: 700;

// Line spacing
$line-s: util.rem(18);