// Colors
:root {
    --white: #FFFFFF;
    --dark-blue: #1E1F36;
    --dark-gray-blue: #4B4C5F;
    --gray-blue: #787887;
    --pale-blue: #E8E8EA;
    --orange: #F47B56;
    --purple: #af67e9;
    --blue: #6565e7;
    --shadow: hsla(0, 0%, 0%, 0.30);
}